<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- MyBatis가 해당 값의 타입을 명시적으로 알지 못하면 null 취급하게 된다. -->
	<!-- 매번 쿼리를 실행할 때마다 데이터베이스에 요청이 가고, 결과를 새로 받아옵니다. -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.ict.runningON.vo.AttachmentsVO"  alias="avo" />
		<typeAlias type="com.ict.runningON.vo.BoardsVO"  alias="bvo" />
		<typeAlias type="com.ict.runningON.vo.CommentsVO"  alias="cvo" />
		<typeAlias type="com.ict.runningON.vo.DislikesVO"  alias="dlvo" />
		<typeAlias type="com.ict.runningON.vo.Group_joinVO"  alias="gjvo" />
		<typeAlias type="com.ict.runningON.vo.GroupsVO"  alias="gvo" />
		<typeAlias type="com.ict.runningON.vo.LikesVO"  alias="lvo" />
		<typeAlias type="com.ict.runningON.vo.MessagesVO"  alias="mvo" />
		<typeAlias type="com.ict.runningON.vo.PostsVO"  alias="pvo" />
		<typeAlias type="com.ict.runningON.vo.UsersVO"  alias="uvo" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/admin_mapper.xml" />
		<mapper resource="mappers/boards_mapper.xml" />
		<mapper resource="mappers/groups_mapper.xml" />
		<mapper resource="mappers/main_mapper.xml" />
		<mapper resource="mappers/mypage_mapper.xml" />
		<mapper resource="mappers/posts_mapper.xml" />
	</mappers>
</configuration>