@charset "UTF-8";

#main_page {
	padding: 50px;
	
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table, th, td {
	border: 1px solid #ddd;
}

th, td {
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

.message-content {
	width: 100%;
	height: 100px;
	background-color: #e0e0e0;
	padding: 15px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.button {
	display: inline-block;
	background-color: #ff9900;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}