@charset "UTF-8";

body{
	min-width: 1100px;
}

#side_left{
	width: 20%;
	min-width: 300px;
}

#main_page {
	width: 80%; /* 전체의 나머지 80% 너비로 설정 */
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 20px;
}

#main_page *{
	display: block;
	margin: 20px;
}

#msg_box{
	width: 400px;
	height: 400px;
}

.thumbs {
    font-family: Arial, sans-serif;
    padding: 20px;
}
label {
    font-weight: bold;
    color: #b10000;
    display: block;
    margin-bottom: 5px;
}

#recipients{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
/* top으로 변경하면서 thumbs 사라진거같아서 위에거로 바꿨으니 확인하고 지워주세요 */
.thumbs input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#message{
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 10px;
}
/* top으로 변경하면서 thumbs 사라진거같아서 위에거로 바꿨으니 확인하고 지워주세요 */
.thumbs textarea {
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.char-count {
    text-align: right;
    color: #777;
}
.submit-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.submit-button input {
    background-color: white;
    color: red;
    border: 1px solid red;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}
.submit-button input:hover {
    background-color: red;
    color: white;
}
