@charset "UTF-8";

#main_page {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	top: 0px;
	left: 293px;
	width: calc(100% - 293px);
	min-width: 900px;
}



a{
	text-decoration: none; /* -- 밑줄 없어짐 */
	
}


}
a:link, a:visited {
    color: black; /* 원하는 색상으로 설정 */
}

a:hover {
	font-size: 16px;
	background-color: black;
	color: white;
}
